*.sln
Library/
Logs/
Packages/
Temp/
obj/
UserSettings/
Builds/

Assets/Presets/
Assets/TextMesh Pro/
Assets/StarterAssets/
Assets/Standard Assets/
Assets/Samples/
Assets/RPG_Fentasy_(Pack)/
Assets/RPG_Fentasy_(Pack).meta
Assets/GUI PRO Kit - Fantasy RPG/
Assets/GUI PRO Kit - Fantasy RPG.meta